# CONNETION DATABASE
#DATABASE_HOST=172.18.0.2
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=root
DATABASE_PASSWORD=123
DATABASE_NAME=db_name
DATABASE_SSL=false
# CONFIGURATION DE JWT
JWT_SECRET=secret_for_token
JWT_EXPIRES_IN=1h
# CONFIGURATION DE bcrypt
SALT_ROUNDS=10

JWT_REFRESH_SECRET=secret_refresh
JWT_REFRESH_EXPIRES_IN=7d

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=example@gmail.com
EMAIL_PASSWORD="password email key four"
# Segurity (Usa "true" o "false")
# port 465 si es true
EMAIL_SECURE=false
EMAIL_REJECT_UNAUTHORIZED=false

RESEND_API_KEY=key_resend


REDIS_USER=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=paswordRedis
REDIS_TTL=900000
REDIS_URL=redis://localhost:6379
